<h4 class="text-center"> Register to Angmigurumi - APP!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input formControlName="email" placeholder="your email" class="form-control" autofocus  autocomplete="off" >
        <ap-vmessage text="Your E-Mail Address is REQUIRED!"
        *ngIf="signupForm.get('email').errors?.required">
        </ap-vmessage>
        <ap-vmessage text="VALID E-Mail Address REQUIRED!"
        *ngIf="signupForm.get('email').errors?.email">
        </ap-vmessage>
    </div>
    

    <div class="form-group">
        <input formControlName="fullName" placeholder="your full name" class="form-control">
        <ap-vmessage text="Your Full Name is REQUIRED!"
        *ngIf="signupForm.get('fullName').errors?.required">
        </ap-vmessage>
        <ap-vmessage text="Your Full Name needs at least 2 chars"
        *ngIf="signupForm.get('fullName').errors?.minlength">
        </ap-vmessage>
        <ap-vmessage text="Your Full Name can have a maximmum of 40 chars"
        *ngIf="signupForm.get('fullName').errors?.maxlength">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="userName" placeholder="your user name" class="form-control">
        <ap-vmessage text="Your User Name is REQUIRED!"
        *ngIf="signupForm.get('userName').errors?.required">
        </ap-vmessage>
        <ap-vmessage text="Your User Name needs at least 2 chars"
        *ngIf="signupForm.get('userName').errors?.minlength">
        </ap-vmessage>
        <ap-vmessage text="Your User Name can have a maximmum of 40 chars"
        *ngIf="signupForm.get('userName').errors?.maxlength">
        </ap-vmessage>
        <ap-vmessage text="Your username should be lowercase"
        *ngIf="signupForm.get('userName').errors?.lowerCase">
        </ap-vmessage>
        <ap-vmessage
        text="Username already taken"
        *ngIf="signupForm.get('userName').errors?.userNameTaken">
        </ap-vmessage>
    <small *ngIf="signupForm.get('userName').valid" class="text-success">User is available!</small>
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" placeholder="your password" class="form-control">        
        <ap-vmessage text="Your Password is REQUIRED!"
        *ngIf="signupForm.get('password').errors?.required">
        </ap-vmessage>
        <ap-vmessage text="Your Password needs at least 6 chars"
        *ngIf="signupForm.get('password').errors?.minlength">
        </ap-vmessage>
        <ap-vmessage text="Your Password can have a maximmum of 12 chars"
        *ngIf="signupForm.get('password').errors?.maxlength">
        </ap-vmessage>
    </div>

    <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-success btn-block">Registrar novo Usuário</button>

    <p>Already a user?<a [routerLink]="['']"> Sign In!</a></p>
</form>