<h2 class="text-center title">Welcome to AngMIGURUMii!</h2>
<br>
<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
    <!-- User Name Field -->
    <div class="form-group">
        <input 
        #userNameInput
            formControlName="userName"
            class="form-control" 
            placeholder="user name" 
            autofocus>
            
        <ap-vmessage 
            text="Your User Name is REQUIRED!"
            *ngIf="loginForm.get('userName').errors?.required">
        </ap-vmessage>

    </div>
    <!-- Password Field -->
    <div class="form-group">
        <input
            formControlName="password"
            type="password" 
            class="form-control" 
            placeholder="password">
            
        <ap-vmessage 
        text="Your Pass Word is REQUIRED!"
        *ngIf="loginForm.get('password').errors?.required">
        </ap-vmessage>

    </div>
    <!-- Login Button -->
    <button 
        [disabled]="loginForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        Log in
    </button>

</form>
<br>
<p>Not a user yet?<a [routerLink]="['signup']"> Register Here!</a></p>